extends base

block vars
  - var title = 'Dashboard'

block body
  h1 Dashboard
  p.
    Welcome to your dashboard! You are now logged in.


  h2 User Information
    p First Name: #{user.firstName}
    p Last Name:  #{user.lastName}
    p Email:      #{user.email}
    p Data:       #{user.data}


